#aboutMe {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    padding: 20px;
}

#dados div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
#TituloDados {
    margin-top: 1.5rem;
}
#objetivos {
    margin-top: 1.5rem;
    margin-bottom: 1.5em;
}
#resumo {
    margin-bottom: 1.5rem;
}
#container-about {
    background-color: #F5F5F5;
}
